.App {
  text-align: center;
}

.radial-button {
  margin-right:2em;
}
.radial-container {
  margin-bottom:1em;
}



.input-font {
  font-size: 16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




